body {
	padding: 0;
	margin: 0;
	display: block;
	width: 600px;
	overflow: hidden;
}

table {
	max-width: 600px;
}

td {
	max-width: 400px;
}

.key {
	font-weight: bold;
}

.title {
	font-size: 14px;
	cursor: pointer;
}

.message {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #aaa;
}

#content {
	padding-top: 5px;
}

#quick-search {
	border: 1px solid #F2F2F2;
	font-size: 1em;
	text-align: right;
	width: 100%;
}